[submodule ".cursor/superpowers"]
	path = .cursor/superpowers
	url = https://github.com/obra/superpowers.git
[submodule ".cursor/marketingskills"]
	path = .cursor/marketingskills
	url = https://github.com/coreyhaines31/marketingskills.git
